.currency-name {
    /* width: 0; */
    text-align: center;
    padding-top: 30px;
    /* background-color: blue; */
    margin: 0, auto;
}

.diagram {
    position: relative;
    /* z-index: -1; */
}

.diagram_back-line {
    z-index: -100;
}

.range {
    display: inline-block;
    margin-bottom: 5px;
}

.selectCurrency {
    display: inline-block;
    margin-left: 3%;
}

.rangeName {
    display: inline-block;
    width: 35px;
    text-align: center;
    border: 0;
    border-radius: 6px;
    margin: 3px 5px;
    padding: 3px 3px;
    cursor: pointer;
}

.selectedRange {
    border: solid rgb(83, 83, 83) 2px;
}

/* Loader<<< */
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 40px;
    z-index: 1;
    /* border: solid red; */
  }
  .lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 15%;
    background: #177bff;
    animation-timing-function: step-end(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  /* Loader>>> */

/* .date-picker-disabled {
    background-color: black;
} */
