.currency-name {
    /* width: 0; */
    text-align: center;
    padding-top: 30px;
    /* background-color: blue; */
    margin: 0, auto;
}

.diagram {
    position: relative;
    /* z-index: -1; */
}

.diagram_back-line {
    z-index: -100;
}

.range {
   margin-bottom: 5px; 
}

.rangeName {
    display: inline-block;
    width: 35px;
    text-align: center;
    border: solid rgb(174, 174, 174) 1px;
    border-radius: 6px;
    margin: 3px 5px;
    padding: 3px 3px;
    cursor: pointer;
}

.selectedRange {
    border: solid rgb(83, 83, 83) 2px;
}

/* .date-picker-disabled {
    background-color: black;
} */