.currency-name {
    /* width: 0; */
    text-align: center;
    padding-top: 30px;
    /* background-color: blue; */
    margin: 0, auto;
}

.diagram {
    position: relative;
    /* z-index: -1; */
}

.diagram_back-line {
    z-index: -100;
}