.currency-title {
    text-align: center;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 500;
    color: rgb(89, 89, 89);
}

.currency-title__title {
    font-weight: 600;
    font-size: large;
}

.currency-title__price {
    padding: 3px;
    font-weight: 600;
    font-size: large;
}
.currency-title__price_up {
    color: rgb(173, 0, 0);
}
.currency-title__price_down {
    color: green;
}

.diagram {
    position: relative;
}

.diagram_back-line {
    z-index: -100;
}

.selectCurrency {
    display: inline-block;
    margin-left: 3%;
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subcontrol {
    display: flex;
    justify-content: left;
}

.gotolist-btn {
    margin-right: 20px;
}

.select-container {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    --bs-border-color: rgb(195, 205, 221);
    --bs-border-active-color: rgb(195, 205, 221);
    --bs-border-width: 2px;
    
}

.form-select {
    margin-top: 2px;
    height: 36px;
    box-shadow: none !important;
}

.range-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(232, 232, 232);
    --bs-btn-hover-bg: rgb(195, 205, 221);
    --bs-btn-hover-color: rgb(68, 68, 68);
    --bs-btn-active-bg: rgb(195, 205, 221);
    --bs-btn-active-color: rgb(68, 68, 68);
    --bs-btn-active-border-color: rgb(195, 205, 221);
}

.selectedRange {
    background-color: rgb(195, 205, 221);
}

.chart-container {
    padding: auto;
    max-height: 430px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Loader<<< */
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 40px;
    z-index: 1;
}
.lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 15%;
    background: rgb(78, 99, 137);
    animation-timing-function: step-end(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
/* Loader>>> */

@media screen and (max-width: 992px) {
    .select-container {
        width: 350px;
    }
    .control {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .select-container {
        width: 200px;
        margin-right: 10px;
    }
    .gotolist-btn {
        margin-right: 10px;
    }
}

@media screen and (max-width: 510px) {
    .select-container {
        margin-right: 0;
        width: 100%;
    }
    .gotolist-btn {
        margin-right: 10px;
    }
    .subcontrol {
        width: 400px;
        justify-content: space-between;
    }
    .range-container {
        width: 400px;
        justify-content: space-between;
    }
    .btn__range {
        margin-right: 0;
        width: 60px;
        height: 50px;
    }
}
