.wrapper {
  width: 100vw;
  min-height: 100vh;
  border: solid red 1px;
}

.footer { 
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;  
  border-top: solid rgb(131, 131, 131) 2px;
}

.btn-primary {
  color: rgb(66, 66, 66);
  border: none;
  --bs-btn-bg: rgb(233, 233, 233);
  --bs-btn-hover-bg: rgb(255, 255, 255);
  --bs-btn-hover-color:  rgb(66, 66, 66);
  --bs-btn-active-bg: rgb(233, 233, 233);
  margin: 2px;
}

.view-buttons {
  float: right;
  text-align: right;
  margin-bottom: 20px;
}

.react-datepicker__input-container input {
  border: solid grey 1px;
  border-radius: 5px;
}

.title {
  text-align: center;  
  font-size: 20pt;
  font-weight: 400;
  color: #dfdfdf;
  padding-top: 20px;
  margin: 0 auto 20px auto;
  border-bottom: solid #ffffff 1px;
}

.date-picker {
  display: inline-block;
  margin-bottom: 20px;
}

header {
  width: 100%;
  background-color: #00284e;
  box-shadow: 0px 0px 6px #0f0f0f;
}

.no-data {
  margin-top: 20px;
  color: red;
  font-size: larger;
}

.sticky {
  position: sticky;
  top: -80px;
}

input {
  height: 30px;
}

.loader {
  margin-top: 10px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #00284e; /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

@media screen and (max-width: 405px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .table>:not(caption)>*>* {
    padding: 3px;
  }
  .footer {
    font-size: 10px;
  }
}
@media screen and (max-width: 510px) {
  .title {
  font-size: 16px;
  }
  input {
    font-size: 12px;
  }
}

@media screen and (max-width: 509px) {
  .sticky {    
    top: -87px;
  }
}
@media screen and (min-width: 510px) {
  .sticky {    
    top: -120px;
  }
}
@media screen and (min-width: 768px) {
  .sticky {    
    top: -117px;
  }
}
@media screen and (min-width: 992px) {
  .sticky {    
    top: -80px;
  }
}




