.wrapper {
  width: 100%;
}

.currency-item-wrapper {
  max-width: 1280px;
  margin: auto;
}

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: smaller;
  margin-top: 50px;
  text-align: center;
}

.btn-primary {
  color: rgb(66, 66, 66);
  border: none;
  --bs-btn-bg: rgb(233, 233, 233);
  --bs-btn-hover-bg: rgb(255, 255, 255);
  --bs-btn-hover-color:  rgb(66, 66, 66);
  --bs-btn-active-bg: rgb(233, 233, 233);
  margin: 2px;
}

.view-buttons {
  float: right;
  text-align: right;
  margin-top: 50px;
  margin-bottom: 20px;
}

.react-datepicker__input-container input {
  border: solid grey 1px;
  border-radius: 5px;
}

p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  color: #dfdfdf;
  padding-top: 20px;
}

.date-picker {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.body {
  min-height: 700px;
}

.container_top {
  background-color: transparent;
  border-bottom: 5px rgb(235, 15, 15);
}

header {
  background-color: #00284e;

  box-shadow: 0px 0px 6px #0f0f0f;
}

.no-data {
  margin-top: 20px;
  color: red;
  font-size: larger;
}
