.currency-item__currency-move-up {
  margin-left: 3px;
  color: green;
}

.currency-item__currency-move-down {
  margin-left: 3px;
  color: red;
}

.difference {
  text-align: right;
}

.differense-head-cell {
  text-align: center;
}

.currency-cell {
  font-weight: 600;
  text-align: center;
}



.currency-hcell {
  text-align: center;
}

.accent {
position: relative;
}

.accent::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(210, 237, 255);
  z-index: -1;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: var(--bs-table-striped-color);
}

@media screen and (max-width: 510px){
  .table {
    font-size: 12px;
  }
}
@media screen and (max-width: 405px){
  .table {
    font-size: 10px;
  }
}
