.info {
    background-color: rgb(233, 233, 245);
    font-weight: 500;
    font-size: small;
}


.currency-item-tabular__currency-move-up {
    margin-left: 3px;
    color: rgb(173, 0, 0);
}

.currency-item-tabular__currency-move-down {
    margin-left: 3px;
    color: green;
}

.difference {
    text-align: right;
}

.differense-head-cell {
    text-align: center;
}

.currency-cell {
    font-weight: 600;
    text-align: center;
}

.currency-hcell {
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--bs-table-striped-color);
}

.date-picker {
    height: 36px;
    position: sticky;
    top: 10px;
    display: block;
    margin-bottom: 30px;
}

.react-datepicker__input-container input {
    height: 36px;
    padding-left: 40px;
    border: solid rgb(195, 205, 221) 2px;
    border-radius: 5px;
    background: url("./calendar3.svg") no-repeat #ffffff 9px 6px;
    background-position: 5% 50%;
    background-color: rgb(235, 218, 228);
}

/* Loader<<< */
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 40px;
    /* border: solid red; */
}
.lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 15%;
    background: #a8a8a8;
    animation-timing-function: step-end(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
/* Loader>>> */

@media screen and (max-width: 510px) {
    .table {
        font-size: 12px;
    }
}
@media screen and (max-width: 405px) {
    .table {
        font-size: 13px;
    }
}
