.currency-item__currency-move-up {
  margin-left: 3px;
  color: green;
}

.currency-item__currency-move-down {
  margin-left: 3px;
  color: red;
}

.difference {
  text-align: right;
}

.differense-head-cell {
  text-align: center;

}